
// Mobile
@media only screen and (max-width: 480px){
.section-main-index{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boton-main{
    padding: 0;
}
}
//Tablet
@media only screen and (min-width: 481px) and (max-width: 978px){

.section-main-index{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}
.boton-main{
    padding: 0;
}

.titulo-main {
    font-size: 3
    2rem;
}
}
//
@media only screen and (min-width: 1140px){

}