
// Mobile
@media only screen and (max-width: 480px){

}
//Tablet
@media only screen and (min-width: 481) and (max-width: 978px){
.titulo-main {
    font-size: 3
    2rem;
}
}
//
@media only screen and (min-width: 1140px){

}