
// Mobile
@media only screen and (max-width: 480px){

}
//Tablet
@media only screen and (min-width: 481) and (max-width: 9780px){

}
//
@media only screen and (min-width: 1140px){
/*    .fondo-principal{
    min-height: 100vh;
    min-width: 100vw;
   } */
}