.fondo-nav {
  background-color: #FFC900;
}

.center-nav {
  justify-content: center;
}

.texto-nav {
  font-size: 1.5rem;
}

.logo {
  width: 100px;
}

nav ul {
  list-style: none;
}

a {
  list-style: none;
  color: #000000;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
}

footer {
  background-color: #FFC900;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.logo-redes {
  width: 40px;
  padding: 4px;
}

.logo-texto {
  width: 400px;
  padding: 20px;
  padding-left: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Libre Caslon Text", serif;
}

.fondo-principal {
  box-sizing: content-box;
  min-height: 100%;
  min-width: 100%;
  background-image: url(../medios-superautos/toyota-corolla-0km/exterior3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*     background-attachment: fixed*/
}

.titulo-main {
  display: flex;
  justify-content: center;
  padding: 50px;
  color: #ff1500;
}

.boton-main {
  display: flex;
  justify-content: space-around;
  margin-top: 60vh;
}
.boton-main button {
  border: 0;
  background-color: #FF8500;
  border-radius: 8px;
  padding: 20px;
  padding-top: 10px;
  cursor: pointer;
}

.section-main-index {
  margin-left: 10px;
  display: grid;
  grid-template-areas: "titulo titulo titulo" "parrafo-1 parrafo-1 imagen-1" "imagen-2 parrafo-2 parrafo-2";
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 80px 200px 250px;
  gap: 5px;
  justify-items: center;
  margin-bottom: 10px;
}

.subtitulo-index {
  grid-area: titulo;
  color: #FF8500;
}

.grid-par, .parrafo-2, .parrafo-1 {
  font-size: 1.2rem;
  line-height: 1.5;
}

.parrafo-1 {
  grid-area: parrafo-1;
}

.parrafo-2 {
  grid-area: parrafo-2;
}

.grid-img, .imagen-2, .imagen-1 {
  width: 80%;
  height: 100%;
  border-radius: 5%;
}

.imagen-1 {
  grid-area: imagen-1;
}

.imagen-2 {
  grid-area: imagen-2;
}

.section-usados {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

#Buscador {
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 24px;
  width: 500px;
  border: transparent;
  border-bottom: solid 1px #ccc;
  padding: 10px 10px 10px 30px;
  outline: none;
}

.titulo-finan {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #FF8500;
}

.finan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-fin {
  width: 90%;
  border-radius: 5%;
}

button {
  border: 0;
  background-color: #FF8500;
  border-radius: 8px;
  padding: 20px;
  padding-top: 10px;
  cursor: pointer;
  margin: 10px;
}

.p-finan {
  font-size: 1.2rem;
  line-height: 1.5;
}

.formularo-contacto-tex {
  display: flex;
  color: #FF8500;
  padding: 10px;
}
.formularo-contacto-tex .tex-form {
  display: block;
  width: 200px;
  text-align: center;
  padding-top: 8px;
  font-size: x-large;
}

.contac {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input {
  width: 250px;
  padding: 5px;
  margin: 5px;
}

.card-marging {
  margin: 10px;
}

@media only screen and (min-width: 1140px) {
  /*    .fondo-principal{
      min-height: 100vh;
      min-width: 100vw;
     } */
}

/*# sourceMappingURL=main.css.map */
