//Variables globales
@use "../generales/variables" as*;

.formularo-contacto-tex {
    display: flex;
    color: $snaraja;

    .tex-form {
        display: block;
        width: 200px;
        text-align: center;
        padding-top: 8px;
        font-size: x-large;
    }
}
input {
    width: 250px;
    padding: 5px;
    margin: 5px;

}
.card-persona {
    margin-left: 50%
}