//Variables globales
@use "../generales/variables" as*;

.formularo-contacto-tex {
    display: flex;
    color: $snaraja;
    padding: 10px;
    .tex-form {
        display: block;
        width: 200px;
        text-align: center;
        padding-top: 8px;
        font-size: x-large;
    }
}  
.contac{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    flex-wrap: wrap;
}
.input {
    width: 250px;
    padding: 5px;
    margin: 5px;

} 
.card-marging {
    margin: 10px;
}