//Variables globales
@use "../generales/variables" as*;

.titulo-finan {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: $snaraja;

    .finan {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .finan-botton {
        align-items: center;
    }

    .p-finan {
        font-size: 1.2rem;
        line-height: 1.5;
    }

}