//Variables globales
@use "../generales/variables" as*;

.titulo-finan {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: $snaraja;
}
.finan {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-fin{
    width: 90%;
    border-radius: 5%;
}
button {
    border: 0;
    background-color: $snaraja;
    border-radius: 8px;
    padding: 20px;
    padding-top: 10px;
    cursor: pointer;
    margin: 10px;
}
.p-finan {
    font-size: 1.2rem;
    line-height: 1.5;
}